
.logo-container img {
    height: 20rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.buttons-container a {
    height: 3rem;

    border-radius: 0.8rem;
    margin-right: 0.6rem;

    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 0.2s;
}

   