
.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
}

.info-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 2);
    padding: calc(10%);
   
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: calc(100% / 2);
    padding: calc(10%);
}

.stepitem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    font-family: "Lato";
    color: #1c1c1c;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}
.section-text {
    font-family: "Lato";
    color: #1c1c1c;
    font-weight: bold;
    font-size: 18px;
}

.text {
    font-family: "Lato";
    color: #1c1c1c;
    font-weight: light;
    font-size: 18px;
}

.outer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    
}

.square {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(180deg, #C4DD2E 0%, #A9B654 100%);
}


.itemtext {
    font-family: "Lato";
    color: #1c1c1c;
    font-weight: light;
    margin-left: 2%;
    font-size: 18px;
}


@media screen and (max-width: 1127px) {
    .outer-container {
        flex-direction: column;
    }
    
}

