@import '../../cookedStyles.css';

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: linear-gradient(225.26deg, var(--secondary-dark) 5.06%, var(--secondary-light) 117.81%);
}

.circle-text {
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--basic-1);
}